* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 100px;
  width: 100%;
  background-color: #416165;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0 20px;
}

nav {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}

nav ul {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  background-color: #416165;
  padding: 10px 0;
  list-style-type: none;
}

nav ul.show {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.3);
}

#hamburger {
  grid-column: 3/4;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.logo {
  grid-column: 1/2;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  position: relative;
  z-index: 1000;
}

.hero {
  position: relative;
}

#hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1,
.cta-button {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-title {
  top: 50px;
  left: 30px;
  font-size: 2.5em;
}

.hero-subtitle {
  bottom: 100px;
  left: 30px;
  font-size: 2em;
}

.cta-button {
  bottom: 50px;
  left: 30px;
  padding: 10px 20px;
  background-color: #0b3948;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.events {
  height: 400px;
  background-color: #0b3948;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.weather {
  height: 400px;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  flex-direction: row-reverse;
}

.events img,
.weather img {
  height: 240px;
  width: 320px;
  border-radius: 5px;
}

.events-content,
.weather-content {
  display: flex;
  flex-direction: column;
}

.events-content h2,
.weather-content h2 {
  margin-bottom: 10px;
}

.events-content p,
.weather-content p {
  margin-top: 0;
}

.spotlights {
  height: 400px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: center;
}

.spotlights h2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.spotlight1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.spotlight2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.spotlight3 {
  grid-column: 2/3;
  grid-row: 4/5;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #416165;
  color: white;
  text-align: center;
  padding-top: 25px;
  margin-top: auto;
}

footer a {
  text-decoration: none;
  color: white;
}

/* DISCOVER PAGE */

.discover-container {
  display: grid;
  grid-template-columns: 1fr;
}

.sidebar {
  background-color: gainsboro;
  padding: 20px;
}

.sidebar h2 {
  font-size: 1.8rem;
  color: #003366;
  margin-bottom: 15px;
  text-align: center;
}

#visit-message {
  font-style: italic;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar h3 {
  font-size: 1.4rem;
  color: #0b3948;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  font-size: 1em;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #333;
}

.sidebar ul li:hover {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.gallery {
  gap: 20px;
  padding: 20px;
}

.gallery figure {
  margin: 0;
  padding: 0;
  text-align: center;
}

.gallery figcaption {
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
  text-align: center;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery h2 {
  background-color: #0b3948;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.photo-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.photo-gallery img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.photo-gallery img:hover {
  transform: none;
  filter: none;
}

/* JOIN PAGE */

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: bold;
  color: #003366;
  margin-top: 25px;
}

input,
textarea,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #0b3948;
}

button[type="submit"] {
  background-color: #0b3948;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #416165;
}

.membership-benefits {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
}

.membership-benefits h2 {
  font-size: 2.5rem;
  color: #003366;
  margin-bottom: 20px;
}

.membership-benefits p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

.membership-options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.membership-option {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.membership-option h3 {
  font-size: 1.8rem;
  color: #0b3948;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  color: #003366;
  margin-bottom: 20px;
  font-weight: bold;
}

.membership-option ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.membership-option ul li {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
}

/* THANK YOU PAGE */

.thankyou-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 90%;
  margin: 100px auto;
}

.thankyou-container h1 {
  font-size: 2.5rem;
  color: #003366;
  margin-bottom: 20px;
}

.thankyou-container p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.ty-cta-button {
  padding: 15px 30px;
  background-color: #003366;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.ty-cta-button:hover {
  background-color: #002244;
}

/* DIRECTORY PAGE */

.toggle-buttons {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.toggle-buttons button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
  border: 0.1px solid black;
}

.toggle-buttons button:hover {
  background-color: rgb(200, 200, 200);
}

#directory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid-view .member-card {
  flex: 1 1 calc(33% - 1rem);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.list-view {
  display: block;
}

.list-view .member-card {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.list-view .member-card img {
  margin-right: 1rem;
  width: 100px;
  height: auto;
}

#directory-container.grid-view {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.member-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 10px;
}

.member-card img {
  max-width: 100px;
  margin-bottom: 15px;
}

#directory-container.list-view {
  display: block;
}

.member-list-item {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
